h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #DD7230;
    text-decoration: underline;
}

h2 {
    color: #51263D;
    font-family: serif;

}

h3 {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif
}

h4 {
    text-decoration: line-through;
    font-family: monospace
}

nav {
    display: block;
  }
/*#menu {
    border: 3px solid rgb(7, 77, 65);
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 90px;
    padding: 5px;
    justify-content: space-evenly;
}

#menu>h1 {

    width: 40%;
}*/

#content {

    display: flex;
    flex-direction: column;

}

#content>article {
    border: solid #d7d8dd;

}

a:link {
    color: black
}

a:visited {
    color: blue
}

a:hover {
    color: yellow;
    font-size: 30px;
    text-decoration: underline;
}

a:active {
    color: peru
}

body {
    background-color: #7dc7c7
}

span {
    color: blue
}

table {
    border: solid black;
    margin-bottom: 20px;
}

th {
    border: solid black;
    padding: 3px;

}

td {
    border: 1px solid grey;

}

#ihtml {
    width: 200px;
    height: 200px;
    border: 3px solid yellowgreen;
    border-radius: 50%;
    padding: 5px;
    opacity: 1.0;
}

img {
    width: 200px;
    height: 200px;
    border: 3px solid yellowgreen;
    padding: 5px;
    opacity: 1.0;

}

.fotos {
    border-radius: 3mm;
    padding: 6px;
    border: 5px seashell;

}

div {
    border-radius: 4px solid red;
    border-color: red;

}

.span1 {
    color: purple
}

.curly {
    color: yellow
}

#l9 {
    display: flex;
    justify-content: space-around;

}

.l9 {
    align-content: center;
}

form {
    border: solid slategray;
    background-color: rgb(157, 193, 235);
    width: 200px;
}