body {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 40px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}



#container {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    height: 50px;
    width: 100%;
    background-color: #1fb2df;
    color: white;
    font-family: Gotham;
    position: fixed;
    top: 0;
    border-radius: 5px;
    z-index: 9999;
}

a {
    color: white;
    font-size: 20px;
    text-decoration:none;
}

/*a:hover{
    
    font-size: 30px;
    color: #FC9601;
}*/

.content-wrapper {
    display: inline-flex;
    padding: 10px 0;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 10px;
    position: relative;
    flex: 1 1 21rem;
}


/* banner*/

#Banner {
    position: relative;
    text-align: center;
    background-size: 100%;
    padding: 10px 10px;

}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px 10px;
    width: 90%;
    height: 90%;
    align-self: normal;
    flex: 1 1 21rem;
    /*height: min-content;*/
}

.column {
    display: flex;
    flex-direction: column;
    align-self: normal;
    flex: 1 1 21rem;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: normal;
    justify-content: center;
    width: 100%;
    height: 50%;
    border-radius: 5px;
    margin: 10px 10px;
    background-color: #24b267;
    overflow: hidden;

}

.card:hover{
    background-color:#1fb2df;
    color: #000;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;

}
.card>img {
    max-width: 300px;
    margin-top: 5%;
    width: 90%;
    height: 50%;

}

.card>p {
    color: white;
    margin: 5px;
    margin-bottom: 10px;
    text-align: justify;
    font-size: 1rem;

}

h1 {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}

.card>.button {
    display: inline-block;
    margin: 20px;
    margin-top: auto;
    padding: 10px;
    background-color: #FC9601;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.my-form {
    background-color: #FC9601;
    /*box-shadow: 8px 8px 8px 8px rgba(199, 31, 31, 0.5);*/
    transition: 0.3s;
    border-radius: 5px;
    /* 5px rounded corners */
    /*margin: 100px 50px;*/
    padding: 10px;
    position: relative;
    text-align: left;
    width: 180px;
    height: 540px;

}


.fixed-footer {

    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    color: rgb(12, 11, 11);
    text-align: start;

}

/*responsive design*/
@media(max-width:900px) {
    .catalogo {
        flex-direction: column;
    }

    .content-wrapper {
        display: grid;

    }

    .menu {
        display: block;
        height: 90px;
        line-height: .8;
        padding: 0.2em;
    }

}